################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/TH.AI.Demo/TH.AI.Demo/bin/*
/TH.AI.Demo/TH.AI.Demo/bin/*
/TH.AI.Demo/TH.AI.Demo/Logs/*
